.setting_cards {
  width: 120px;
  height: 120px;
  background-color: whitesmoke;
  border: 1px solid gray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &:hover {
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.4s linear;
    transform: scale(1.1);
    border: 1px solid blue;
  }
  .icon {
    width: 100%;
    height: 90%;
    font-size: 50px;
    text-align: center;
    color: #00bbf9;
    width: 100%;
    &:hover {
      color: #004cc7;
      transition: all 0.4s linear;
    }
  }
  .title {
    letter-spacing: 2px;
    font-size: 15px;
    font-family: monospace;
    font-weight: 800;
    background-image: linear-gradient(
      to top,
      #fcc5e4 0%,
      #fda34b 15%,
      #ff7882 35%,
      #c8699e 52%,
      #7046aa 71%,
      #0c1db8 87%,
      #020f75 100%
    );
    background-clip: text;
    color: transparent;
  }
}
