.main_container {
  width: 100%;
  .sub_container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    box-shadow: -1px 7px 5px 0px rgba(0, 0, 0, 0.75);
    .handleIcon {
      width: 10%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .bar {
        font-size: 29px;
        margin-left: 10px;
        cursor: pointer;
        &:hover {
          transform: rotate(180deg);
          color: #004cc7;
          transition: all 0.3s ease-in-out;
        }
      }
      .hideBar {
        display: none;
      }
    }
    .NavbarContent {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .pageRoute {
        min-width: 30px;
        height: auto;
        background-color: #fff;
        border-radius: 5px;
        border: 0.001px solid blue;
        opacity: 0.9;
        padding: 1px;
      }
      .adminPanel {
        width: 13%;
        display: flex;
        justify-content: space-evenly;
        .symbol {
          width: 23px;
          height: 23px;
          border-radius: 50%;
          background-color: #004cc7;
          color: whitesmoke;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .down {
          margin-top: 2px;
          font-size: 20px;
          &:hover {
            cursor: pointer;
            color: #004cc7;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
}
